@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');

.vjs-big-play-button {
  visibility: hidden
}

body {
	background: crimson;
	color: white;
	align-items: center;
	justify-content: center;
	align-content: space-evenly;
	font-family: 'Open Sans', sans-serif;
}
.app {
	margin-top: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#chicken {
	top:0
}
.startgame {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: auto;
	margin-top: 30%;
}

.navbar {
	font-family: 'Rammetto One', cursive;
	position: absolute;
	top: 0;
	display: flex;
	background-color: gold;
	width: 100vw;
	justify-content: center;
	font-size: 5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	z-index: 5;
}
#nav-selection {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	align-self: right;
	font-size: 16px;
	margin-right: 1em;
}
#title{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
}
.start-btns {
	display: flex;
	flex-flow: column;
	font-size: 1em;
}

.btn-large{
	color: rgb(244, 184, 65);
	background-color: white;
	font-size: 1em;
	font-style: bold;
	font-weight: bolder;
	box-shadow: 5px 5px 10px maroon;
	margin-bottom: 10px;
}
.btn {
	color: rgb(244, 184, 65);
	background-color: white;
	font-size: 1em;
	font-style: bold;
	font-weight: bolder;
	box-shadow: 5px 5px 10px maroon;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}
.judge-alerts {
	margin: 2em;
	text-align: center;
}
.link {
  text-decoration: none;
  background-color: rgb(205, 7, 37);
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}
.video-media {
	display: flex;
    justify-content: center;
    flex-direction: column;
}
.player-video-content {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.player-video{
	margin: auto;
	text-align: center;
}
.choose-winner{
	margin-left: 37%;
}
.winner-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	top: 1em;
}
.recordbutton {
	width: 35px;
	height: 35px;
	font-size: 0;
	background-color: red;
	border: 0;
	border-radius: 35px;
	margin: 18px;
  outline: none;
  animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.choice-btn{
	width: 50%;
}
.random-vid-btn{
	width: 100%;
}
#waitingForJudge{
	display: flex;
	justify-content: center;
	text-align: center;
}
#timer{
	display: flex;
	justify-content: center;
	text-align: center;
}
audio{
	margin-left: 30%
}
.player-vid-sounds{
	display: inline-flex;
	flex-flow: row wrap;
	width: 60%;
	justify-content: space-around;
	margin-left: 20%;
	margin-right: 20%;
}
@keyframes pulse{
	0%{
		box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
	}
	65%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
	}
	90%{
		box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
	}
}

#instructions {
	margin-top: 5%;
}

.instructions-header {
	font-size: 2em;
}
.winner-confetti{
	z-index: 3;
}
.page-footer {
	padding-top: 20px;
	background-color: crimson;
	text-align: center;
}

a {
	color: white;
}

.modal-text {
	color: red;
}

.sorry-text {
	color: red;
	font-weight: bold;
}
